{%load static%}

<div class="left-side-bar">
    <div class="brand-logo">
        <a href="#">
            <img src="{%static 'img/mugisho.svg'%}" style="width: 50px;" class="dark-logo">
            <img src="{%static 'img/mugisho.svg'%}" alt="" style="width: 50px;" class="light-logo">
        </a>
        <div class="close-sidebar" data-toggle="left-sidebar-close">
            <i class="ion-close-round"></i>
        </div>
    </div>
    <div class="menu-block customscroll">
        <div class="sidebar-menu">
            <ul id="accordion-menu">
                <li class="dropdown">
                    <a href="{%url 'Dashboard'%}" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-house-1"></span><span class="">Home</span>
                    </a>
                </li>
                {% if user.groups.all.0.name == 'Superviseur' %}
                <li class="dropdown">
                    <a href="{%url 'forms'%}" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-edit2"></span><span class="mtext">Forms</span>
                    </a>
                </li>
                {%endif%}
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-library"></span><span class="mtext">Etat en sortie</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="{%url 'datatable'%}">Général</a></li>
                        <li><a href="{%url 'repertoire'%}">Répertoire des rendez-vous</a></li>
                        <li><a href="{%url 'listedossierclient'%}">Liste des dossiers par client</a></li>
                        <li><a href="{%url 'listepaiementclient'%}">Liste des paiements effectués par client</a></li>
                        <li><a href="{%url 'listedossierperiode'%}">Liste des dossiers reçu par période</a></li>
                        <li><a href="{%url 'clientsconsulte'%}">Effectif des clients consultés par date</a></li>

                    </ul>
                </li>
                {% if user.groups.all.0.name == 'Avocat' %}
                <li>
                    <a href="{%url 'mesdossier'%}" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-folder"></span><span class="mtext">Dossier</span>
                    </a>
                </li>
                {%else%}
                <li>
                    <a href="{%url 'datadossier'%}" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-folder"></span><span class="mtext">Dossier</span>
                    </a>
                </li>
                {%endif%}
             
                <!-- <li>
                    <a href="calendar.html" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-user1"></span><span class="mtext">Profile</span>
                    </a>
                </li> -->
        
            </ul>
        </div>
    </div>
</div>
